
.drp_card-open-m{
  position:absolute;
  top: 12px;
  left: 75%;
  display: inline-block;
  content: ' ';
  background-image: url('images/icon-arrow-dark.svg');
  transform: rotate(180deg);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}
.drp_card-open-n{
  position: absolute;
  top: 5px;
  left: 120%;
  display: inline-block;
  content: ' ';
  background-image: url('images/icon-arrow-light.svg');
  transform: rotate(180deg);
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}

.close{
  display: none;
}
